# System files
.DS_Store

# Compiled binaries or executables
*.exe
*.dll
*.so
*.dylib

# Logs
*.log

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Local environment files
*.env

# Editor-specific files
.vscode/
.idea/

# Compiled output and build files
/build/
/dist/
/target/
